body {
  background-image: url('beer.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Black Ops One';
  color: black;
  margin-left: 20px;
}

h1{
  font-family: 'Black Ops One', cursive;
  padding-top: 70px;
  font-size: 4em;
}
